.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 30px;
    font-size: 16px;
    line-height: 26px;
    border-radius: 6px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    border: none;
}